/* ---- Variables ---- */

/* -- Colors -- */
$accent: #1a2416;
$bg: #f9fff6;
$white: #fcfcfc;
$grey: #686868;
$grey-form: #dbdbdb;
$black: #0e0e0e;

/* -- Typography -- */

/* -- Media Query Breakpoints -- */
$phone: 480px;
$tablet: 768px;
$desktop: 1280px;

/* -- Transition -- */
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;
